/* 
 MOBILE DEVICE CSS
*/

body {
    font-family: "Neue Plak", sans-serif;
    background-color: #eeedf2;
    color: #6f7287;
}
    
button {
    border-color:  #6f7287;
}

footer {
    background-color: #1e0a3c;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    padding: 7px;
}

.title {
    color: #f05537;
    font-size: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.event-link img {
    width: 675px;

}

.search-bar {
    display: flex;
    justify-content: center;
}

input {
    width: 670px;
    border: hidden;
    box-shadow: 2px 2px;
}

.home-links a {
    font-size: 14px;
    color: #f05537;

}

.home-links {
    display:  flex;
    justify-content: space-between;
    padding-inline: 180px;
}

header {
    font-size: 28px;
}

h3 a {
    color: #696c82;
    display: flex;
    font-size: 18px;
    text-decoration: none;
    padding: 3%;
    border: solid;
}

.event-link a{
    display: flex;
    justify-content: center;
}

h5 {
    display: flex;
    justify-content: center;
}

i {
    display: flex;
    justify-content: end;
}

h6 button {
    display: block;
    margin: auto;
    width: 35%;
    height: 60px;
    box-shadow: 2px; 
}


/* 
DSKTOP CSS
*/
@media screen and (min-width: 701px) {
    
    
}

